.home-container {
    text-align: center;
    margin-top: 120px;

}
.bg{
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),url(/Final_Mika/images/b5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;  
    width: 100%;
    display: flex;
    flex-direction: column; 
}
.fade-title {
    font-size: 48px;
    opacity: 0;
    animation: fadeIn 2s forwards;
    color: #ffffff;
  margin-top: 15rem;
}


@keyframes fadeIn {
    to { opacity: 1; }
}
